<% var imageLib = data.content.imageLib; %>
<div class="ets-act-st ets-cf">
    <div class="ets-describe-area">
        <h4><i class="icon-tick"></i>Describe your favorite food</h4>

        <div class="ets-describe-text">
            <div class="ets-placeholder" data-action="placeholder">
                EXAMPLE: Balabala
            </div>
            <textarea name="input-describe" id="input-describe" cols="30" rows="10" data-action="describe"></textarea>
        </div>

        <div class="share-info">
            <label for="agree-share" data-action="agree">
                <input type="checkbox" id="agree-share" name="agree-share" data-toggle="ets-checkbox" checked="checked">
                
                <i class="icon-people"></i>
                Share this with fello students
            </label>
        </div>
    </div>
    <div class="ets-select-image-area">
        <h4><i class="icon-tick"></i>Attach image</h4>

        <div class="ets-images-area">
            <div class="ets-gallery">
                <ul class="ets-cf">
                    <% for (var i = 0, len = imageLib.length; i < len; i++) { %>
                    <li>
                        <a href="#" data-action="library/item"><img src="<%=imageLib[i].url%>" ></a>
                    </li>
                    <% } %>
                </ul>
            </div>

            <div class="ets-progress-wrapper">
                <div class="ets-progress-bar">
                    <div class="ets-progress-track"></div>
                </div>
                <p>Uploding</p>
            </div>

            <div class="ets-crop-area">
                <img src="" />
            </div>
        </div>

    <div>
        <div class="ets-btn ets-btn-white" id="upload-image" data-action="image/upload">
            <div><i class="icon-arrow-up"></i> Upload an image</div>
        </div>

        <div class="ets-btn ets-btn-white" id="change-image" data-action="image/change">
            <div><i class="icon-close"></i> Change picture</div>
        </div>
    </div>

        <input type="file" class="ets-none fileupload" />

    </div>

    <ul class="ets-profile-wall ets-cf ets-none" data-weave="widget/share-and-describe/profile/main">
        
    </ul>
</div>