<div class="ets-create-profile">
    <div class="ets-images-area">
        <div class="ets-tooltip">
            <div class="ets-tooltip-content">
                Click on the picture that best describes your favorite food.
            </div>
        </div>
        <div class="ets-gallery">
            <ul class="ets-cf">
                <% for(var i=0;i<data.length;i++) { %>
                <li>
                    <a href="#" data-action="image-library/item">
                        <img src="<%=data[i].url %>" width="86" height="86">
                        <span class="ets-shadow"></span>
                    </a> 
                </li>
                <% } %>
            </ul>
        </div>
        <div class="manual-upload" data-weave="widget/sharing-activity/choose-picture/upload-image/main">
        </div>
       
    </div>
</div>


