.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
#social_debug article,#social_debug aside,#social_debug details,#social_debug figcaption,#social_debug figure,#social_debug footer,#social_debug header,#social_debug hgroup,#social_debug nav,#social_debug section{display:block;}
#social_debug audio,#social_debug canvas,#social_debug video{display:inline-block;*display:inline;*zoom:1;}
#social_debug audio:not([controls]){display:none;}
#social_debug html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
#social_debug a:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
#social_debug a:hover,#social_debug a:active{outline:0;}
#social_debug sub,#social_debug sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline;}
#social_debug sup{top:-0.5em;}
#social_debug sub{bottom:-0.25em;}
#social_debug img{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic;}
#social_debug button,#social_debug input,#social_debug select,#social_debug textarea{margin:0;font-size:100%;vertical-align:middle;}
#social_debug button,#social_debug input{*overflow:visible;line-height:normal;}
#social_debug button::-moz-focus-inner,#social_debug input::-moz-focus-inner{padding:0;border:0;}
#social_debug button,#social_debug input[type="button"],#social_debug input[type="reset"],#social_debug input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
#social_debug input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
#social_debug input[type="search"]::-webkit-search-decoration,#social_debug input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
#social_debug textarea{overflow:auto;vertical-align:top;}
#social_debug fieldset{border:0;margin:0;padding:0;}
#social_debug{border:1px solid #555555;background-color:#eeeeee;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;width:450px;padding:10px;overflow:hidden;z-index:99999;}#social_debug fieldset .row{margin:10px 0;}#social_debug fieldset .row .label,#social_debug fieldset .row label{clear:left;display:inline-block;*display:inline;*zoom:1;width:150px;font-weight:bold;text-align:right;float:left;}
#social_debug fieldset .row .field{margin-left:5px;float:left;}#social_debug fieldset .row .field input[type=text],#social_debug fieldset .row .field select{width:150px;}
#social_debug fieldset .row .field input[type=text].long,#social_debug fieldset .row .field select.long{width:250px;}
#social_debug fieldset .row .field label{display:inline-block;*display:inline;*zoom:1;width:auto;float:none;clear:none;margin-right:5px;font-weight:normal;}#social_debug fieldset .row .field label input[type=checkbox],#social_debug fieldset .row .field label input[type=radio]{margin-right:3px;}
#social_debug fieldset .row .field.vertical label{display:block;width:auto;clear:none;}
#social_debug fieldset .row:after{display:block;content:' ';visibility:hidden;clear:both;}
#social_debug fieldset .buttons .cancel{float:left;width:150px;text-align:right;min-height:1px;*height:1px;}
#social_debug fieldset .buttons .submit{float:left;margin-left:5px;}
