{{#profile}}
<li {{#additionalClass}}{{index}}{{/additionalClass}}>
	<a href="#" class="soc_pl_img_box">
		<span class="soc_pl_img_border">
			<img class="soc_pl_img" src="{{img}}" alt="" width="80" height="80" />
		</span>
	</a>
	<div class="soc_tooltip">
		<div class="soc_tooltip_inner">
			<p>{{desc}}</p>
			<p class="soc_tooltip_btns">
				<a href="#" class="soc_btn soc_btn_small soc_btn_white">
					<i class="soc_icon_plus"></i>Adicionar aos amigos
				</a>
			</p>
			<span class="soc_toolitp_indicator"></span>
		</div>
	</div>
</li>
{{/profile}}