<li>
    <a href="#">
        <img src="mock/image/thumb-1.jpg" width="100" height="100">
    </a>
    <div class="ets-tooltip ets-left-arrow">
        <div class="ets-tooltip-content">
            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vel ante a orci tempus eleifend ut et magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>

            <div class="ets-preson-info">
                <img src="mock/image/profile-1.jpg" width="40" height="40" alt="">
                <div class="ets-info">
                    <p class="ets-name">Mayumi H.</p>
                    <p class="ets-location">Osaka, Japan</p>
                </div>
            </div>

            <p class="ets-tooltip-btns">
                <span class="ets-btn-small ets-btn-white">
                    <span>Add to friend</span>
                </span>
            </p>
        </div>
    </div>
</li>