<ul class="ets-profile-wall ets-cf">
    <% for (var i = 0, len = data.length; i < len; i++ ) { %>
    <li <%if(data[i].isMe){%>class="ets-profile-me"<%}%>>
        <a href="#" data-action="profile/item.click">
            <img src="<%=data[i].img%>">
            <div class="ets-shadow"></div>
        </a>
        <!--[if lte IE 8]>
        <div class="ets-tooltip ets-tooltip-ie8 ets-left-arrow">
        <![endif]-->
        <!--[if gt IE 8]>
        <div class="ets-tooltip ets-left-arrow">
        <![endif]-->
        <!--[if !IE]> -->
        <div class="ets-tooltip ets-left-arrow">
        <!-- <![endif]-->
            <div class="ets-tooltip-content">
                <p><%=data[i].describe%></p>

                <div class="ets-preson-info">
                    <img src="<%=data[i].profile%>" width="40" height="40" alt="">
                    <div class="ets-info">
                        <p class="ets-name"><%=data[i].name%></p>
                        <p class="ets-location"><img src="<%=data[i].flag%>" width="16" height="11"/><span><%=data[i].from%></span></p>
                    </div>
                </div>

                <p class="ets-tooltip-btns">
                    <%if (data[i].isMe) {%>
                    <span class="ets-btn-small ets-btn-white ets-btn-shadowed" data-action="edit/profile">
                        <span>Edit your entry</span>
                    </span>
                    <%} else {%>
                    <%if (data[i].friendStatus===-1) {%>
                    <span class="ets-btn-small ets-btn-white ets-btn-shadowed" data-action="friend/add">
                        <span>Add to friends</span>
                    </span>
                    <%} else if (data[i].friendStatus===0) {%>
                    <span class="ets-btn-small ets-btn-white ets-btn-shadowed ets-disabled">
                        <span>Friend request sent</span>
                    </span>
                    <%} else if (data[i].friendStatus===1) {%>
                    <span class="ets-btn-small ets-btn-white ets-btn-shadowed ets-disabled">
                        <span>Your are friends</span>
                    </span>
                    <%}%>
                    <%}%>
                </p>
            </div>
        </div>
    </li>
    <% } %>
</ul>
<div class="ets-msg-box" data-weave="widget/sharing-activity/picture-wall/complete-msg/main"></div>
