@component-icon-img: "../img/ets-component-icon.png";

.icon-people {
    background: url("@{component-icon-img}") -468px 0 no-repeat transparent;
    .size(20px, 15px);
    .inline-block();
    vertical-align: text-bottom;
}
.icon-arrow-up {
    background: url("@{component-icon-img}") -540px 0 no-repeat transparent;
    .size(15px, 17px);
    .inline-block();
    vertical-align: text-bottom;
}
.icon-close {
    background: url("@{component-icon-img}") -504px 0 no-repeat transparent;
    .size(15px, 15px);
    .inline-block();
    vertical-align: text-bottom;
}
.ets-act-st {
    .white-shadow {
        text-shadow: 0 1px 1px #FFF;
    }

    .box {
        background-color: #DBDBDB;
        .border-radius(8px);
        box-shadow: inset 0 0 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 white;
    }

    h4 {
        color: #6f6f6f;
        font-size: 15px;
        .white-shadow();
        line-height: 25px;
        margin-bottom: 5px;
        .icon-tick {
            background: url("@{component-icon-img}") -304px -100px no-repeat transparent;
            .inline-block();
            .size(21px, 20px);
            margin-right: 5px;
            vertical-align: text-bottom;
        }
    }

    .ets-valid {
        h4 {
            .icon-tick {
                background: url("@{component-icon-img}") -199px -100px no-repeat transparent;    
            }
        }
    }

    .ets-describe-area {
        float: left;
        margin-left: 114px;
        width: 320px;
        text-align: left;

        .ets-describe-text {
            .box();
            height: 243px;
            padding: 6px;
            position: relative;
            textarea {
                .size(292px, 209px);
                resize: none;
                border: 0;
                margin: 0;
                padding: 8px;
                .border-radius(8px 8px 0 0);
                float: left;
                font-size: 18px;
            }

            .ets-placeholder {
                position: absolute;
                font-size: 18px;
                color: gray;
                top: 14px;
                left: 12px;
            }


            .ets-helper {
                background-color: #eaf7f7;
                margin: 0;
                padding: 0;
                clear: both;
                line-height: 18px;
                .border-radius(0 0 8px 8px);
                text-align: center;
                color: #707a81;
                .white-shadow();
                strong {
                    color: #09aedd;

                    &.charas-num-overflow{
                        color:red;
                    }
                }
            }
            #input-describe_counter {
                font-size: 12px;
                background-color: #eaf7f7;
                margin: 0;
                padding: 0;
                clear: both;
                line-height: 18px;
                .border-radius(0 0 8px 8px);
                text-align: center;
                color: #707a81;
                .white-shadow();
                #input-describe_count {
                    color: #09aedd;
                }
            }
        }

        .share-info {
            padding: 0 6px;
            margin-top: 18px;
            line-height: 36px;
            .box();
            label {
                display: block;
                color: #757575;
                font-size: 14px;
                cursor: pointer;

                .icon-people {
                    margin: 0 5px 0 10px;
                }
            }
        }
    }

    .ets-select-image-area {
        float: right;
        margin-right: 114px;
        text-align: center;
        width: 340px;
        h4 {
            text-align: left;
        }

        .ets-images-area {
            .size(328px, 292px);
            .box();
            padding: 6px;
            position: relative;
            .ets-gallery {
                position: relative;
                overflow: auto;
                .size(100%, 100%);
                ul {
                    width: 100%;
                    li {
                        display: inline-block;
                        float: left;
                        a {
                            display: block;
                            padding: 5px;

                            &:hover {
                                background-color: white;
                                box-shadow: 0 0 4px #999;
                            }
                        }
                    }
                }

            }

            .ets-progress-wrapper {
                background: #b7b7b7;
                .size(208px, 50px);
                box-shadow: inset 0 0 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 white;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -25px 0 0 -104px;

                .ets-progress-bar {
                    margin: 4px 3px;
                    position: relative;
                    overflow: hidden;
                    .size(202px, 42px);
                    .ets-progress-track {
                        .size(110%, 100%);
                        position: absolute;
                        background: url("../img/progress-bar.png") left top no-repeat;
                    }
                }

                p {
                    margin-top: 8px;
                    .white-shadow();
                }
            }

            .ets-crop-area {
                .size(100%, 100%);
                position: relative;
                overflow: hidden;
                .resize{
                    width: 100%;
                    height: 100%;
                }
                // img {
                //     cursor: move;
                // }
            }
        }
        

        .ets-btn {
            margin-top: 10px;
        }
    }

    .ets-profile-wall {
        .inline-block();
        width: 868px;

        &.ets-none {
            display: none;
        }
        li {
            .inline-block();
            float: left;
            position: relative;
            margin: 7px;

            a {
                display: block;
                padding: 5px;
                &:hover {
                    background-color: #FFF;
                    box-shadow: 0 0 4px #999;
                }
            }
            &.ets-on {
                a {
                    background-color: #FFF;
                    box-shadow: 0 0 4px #999;
                }
            }

            .ets-tooltip {
                left: 100%;
                top: -50%;
                .ets-tooltip-content {
                    padding: 0;
                }
                p {
                    text-align: left;  
                    padding: 10px;
                }
                .ets-tooltip-btns {
                    text-align: center;
                }
            }

            .ets-preson-info {
                position: relative;
                text-align: left;
                .size(100%, 48px);
                background-color: rgba(0,0,0,0.3);

                img {
                    position: absolute;
                    top: 4px;
                    left: 10px;
                }

                .ets-info {
                    margin-left: 65px;
                    p {
                        padding: 0;
                        line-height: 24px;
                    }

                    .ets-name {
                    }
                    .ets-location {
                        font-size: 10px;

                    }
                }
            }
        }
        li.ets-on {
            z-index: 1;
        }
    }
}
