@component-form-img: "../img/ets-component-checkbox.png";

.ets-checkbox {
    background: url("@{component-form-img}") 0px 0px no-repeat transparent;
    .size(27px, 25px);
    .inline-block();
    vertical-align: middle;

    &.ets-checkbox-hover {
         background: url("@{component-form-img}") -1px -32px no-repeat transparent;
    }
    &.ets-checkbox-checked {
        background: url("@{component-form-img}") -44px 0px no-repeat transparent;
    }

    &.ets-checkbox-checked.ets-checkbox-hover {
        background: url("@{component-form-img}") -45px -32px no-repeat transparent;
    }

    input {
        display: none;
    }
}

.ets-nojs .ets-checkbox {
    background: none;
    .size(auto, auto);
    &.ets-checkbox-checked {
        background: none;
    }
    input {
        display: block;
    }
}