<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet/less" type="text/css" href="../css/debug.less">
	<script type="text/javascript" src="../../src/js/libs/less-1.3.0.min.js"></script>
</head>
<body>
	<div id="social_debug">
		<form action="#">
			<fieldset>
				<div class="row">
					<label for="name">name</label>
					<div class="field">
						<input type="text">
					</div>
				</div>

				<div class="row">
					<div class="label">select</div>
					<div class="field">
						<select name="" id="">
							<option value="1">dfad</option>
							<option value="1">dfad</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="label">check box</div>
					<div class="field">
						<label>
							<input type="checkbox" id="xx">xx
						</label>

						<label>
							<input type="checkbox" id="yy">yy
						</label>
					</div>
				</div>

				<div class="row">
					<div class="label">radio button</div>
					<div class="field">
						<label>
							<input type="radio" id="1">xx
						</label>

						<label>
							<input type="radio" id="1">yy
						</label>
					</div>
				</div>

				<div class="row">
					<div class="label">radio button</div>
					<div class="field vertical">
						<label>
							<input type="radio" id="1">xx
						</label>

						<label>
							<input type="radio" id="1">yy
						</label>
					</div>
				</div>

				<div class="buttons">
					<div class="cancel">
						<button>cancel</button>
					</div>
					<div class="submit">
						<input type="submit" value="submit">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>